head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  base(href='/')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')  
 body
   div(ng-app='simple-todos-angular')
     md-toolbar
       h1
         md-title(href='/tasks') ToDO
     md-content(flex="")
       div(ui-view='')
