div
  form
    label Name
    input(ng-model='newParty.name')
    label Description
    input(ng-model='newParty.description')
    button(ng-click="parties.save(newParty); newParty='';") Add
    button(ng-click='removeAll()') Remove All
  ul
    li(ng-repeat='party in parties')
      a(href='/parties/{{party._id}}') {{party.name}}
      p {{party.description}}
      button(ng-click='remove(party)') X
